@include media-md {
  .social-rating {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-lg {
  .social {
    position: relative;
    display: grid;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: 42%;
      height: 100%;
      background: url(../dist/images/bg-pattern-top-desktop.svg);
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: '';
      width: 80%;
      height: 80%;
      background: url(../dist/images/bg-pattern-bottom-desktop.svg);
      background-size: cover;
      background-repeat: no-repeat;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    // top Section
    &-top {
      position: relative;
      background: unset;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 1rem;
      width: 80%;
      padding: 8rem 0 0;
      z-index: 2;
    }

    &-intro {
      text-align: left;
      margin-bottom: 0;

      h1 {
        font-size: 3rem;
        margin-bottom: 1;
        margin-right: 2rem;
      }

      .intro-text {
        font-size: 1rem;
        margin-right: 1rem;
      }
    }

    // Ratings
    &-rating {
      grid-template-columns: 1fr;
      gap: 1.25rem;
      // margin-right: 1.5rem;

      &-item {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1.2rem 2rem;
        // width: 100%;

        .stars {
          margin-bottom: 0;

          * {
            margin: 0 1.5px;
          }
        }

        p {
          font-size: 0.8rem;
          margin: 0;
        }
      }
    }

    &-rating-item:nth-child(1) {
      margin-right: 6rem;
    }

    &-rating-item:nth-child(2) {
      margin-right: 3rem;
      margin-left: 3rem;
    }

    &-rating-item:nth-child(3) {
      margin-left: 6rem;
    }

    // Bottom Section
    &-btm {
      background: unset;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin: auto;
      width: 80%;
      padding: 0 0 5rem;
    }

    &-review {
      display: grid;
      align-items: center;
      height: 250px;
      padding: 2rem;
      border-radius: 0.5rem;
      color: $white;

      &-top {
        margin-bottom: 0;

        .info {
          h4 {
            font-size: 0.8rem;
          }

          p {
            color: $primaryPink;
          }
        }
      }
      p {
        font-size: 0.77rem;
        line-height: 1.8;
      }
    }
  }

  @include media-xl {
    .social {
      min-height: 100vh;

      &-top {
        width: 75%;
      }

      &-btm {
        width: 75%;
      }
    }
  }

  // @for $i from 1 through 3 {
  //   .social-rating-item:nth-child(#{$i}) {
  //     margin-left: ($i * 2.5rem) + 1rem;
  //   }
  // }

  @for $i from 1 through 3 {
    .social-review:nth-child(#{$i}) {
      margin-top: ($i * 1.5rem) + 1rem;
    }
  }
}
