@import './config';
@import './social';
@import './responsive';

body {
  color: $neutralDark;
  height: 100vh;
  font-family: 'Spartan', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: $primaryMagenta;
}
