/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* Variables */
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Font-Size: 15px;
  --transition: all linear 0.3s;
}

/* Global Styles */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 3.1rem !important;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .container {
    width: 80%;
    margin: auto;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border: 1px solid var(--Black);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--Black);
  margin-top: 2rem;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--Black);
  color: var(--White);
}
/* Mobile First CSS */

.desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .btn {
    margin-top: 0;
  }
}

/* Header Start */
.header {
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.nav {
  padding: 2rem 0;
}

.nav-mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-desktop {
  display: none;
}

.nav-mobile .header-logo {
  position: relative;
  z-index: 100;
}

.nav-mobile button {
  outline: none;
  border: none;
  background: transparent;
}

.nav-mobile .close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  outline: none;
  border: none;
}

.mobile-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  z-index: 99;
  transform: translateX(-100%);
  opacity: 0;
  display: none;
}

.mobile-links.active {
  display: flex;
  transform: translateX(0);

  transition: var(--transition);
  opacity: 1;
}

.mobile-links ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobile-links a {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--White);
  font-size: 1.8rem;
}

.header .hero {
  margin: 8.5rem 0;
  color: var(--White);
  border: 2px solid var(--White);
  padding: 1.5rem;
}

.hero h1 {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url(./images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 50vh;
  }

  .header .hero {
    width: 60%;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-desktop .desktop-links {
    display: flex;
    gap: 3rem;
  }

  .nav-desktop .desktop-links a {
    color: white;
    position: relative;
    font-size: 1.1rem;
  }

  .nav-desktop .desktop-links a:hover::after {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-40%);
    height: 3px;
    width: 40%;
    background-color: white;
    transition: var(--transition);
  }
}

@media screen and (min-width: 1100px) {
  .header {
    height: unset;
    padding-bottom: 10rem;
  }

  .nav {
    padding: 3.5rem 0;
  }

  .header .hero {
    width: 50%;
    margin: 0;
    margin-top: 5rem;
  }

  .header .hero h1 {
    font-size: 4rem;
  }
}

/* Header End */

/* interactive start */
.interactive {
  padding: 6rem 0 4rem;
  text-align: center;
}

.interactive-content {
  margin-top: 3rem;
}

.interactive-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.interactive-content p {
  font-size: 1.1rem;
  color: var(--Dark-Gray);
}

/* interactive Desktop */
@media screen and (min-width: 1100px) {
  .interactive {
    padding: 8rem 0 0;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .interactive-content {
    text-align: left;
    background: white;
    padding: 5rem 0 5rem 5rem;
    margin-top: 30%;
    margin-left: -25%;
  }

  .interactive-content p {
    font-size: 16.5px;
  }
}

/* interactive end */

/* Creations start */
.creations {
  padding: 3rem 0 6rem;
  text-align: center;
}

.top-creations {
  margin-bottom: 3rem;
}

.top-creations h2 {
  font-size: 2rem;
}

.creation-box {
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
  cursor: pointer;
}

.creation-box h4 {
  position: absolute;
  bottom: 15%;
  left: 5%;
  font-size: 1.75rem;
  color: var(--White);
}

/* Desktop Creations */

@media screen and (min-width: 800px) {
  .creations {
    padding: 5rem 0 8rem;
    text-align: center;
  }

  .top-creations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  .btm-creations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .creation-box {
    margin-bottom: 0;
  }

  .creation-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .creation-box:hover::after {
    background: white;
    opacity: 0.6;
  }

  .creation-box:hover h4 {
    color: var(--Black);
  }

  .creation-box img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .creation-box h4 {
    bottom: 7%;
    left: 15%;
    font-size: 1.5rem;
    color: var(--White);
    z-index: 4;
  }
}

@media screen and (min-width: 1200px) {
  .creation-box h4 {
    font-size: 2.1rem;
  }
}

/* Creations end */

/* Footer */
.footer {
  background-color: var(--Black);
  padding: 4rem 0;
  text-align: center;
}

.footer > * {
  color: var(--White);
}

.footer-links,
.footer-social {
  margin-top: 2rem;
}

.footer-links li {
  margin-bottom: 1.25rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer a {
  color: var(--White);
}

.footer-copyright {
  color: var(--Dark-Gray);
}

/* Footer Desktop */

@media screen and (min-width: 800px) {
  .footer {
    padding: 3rem 0;
    text-align: unset;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-links {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
  }

  .footer-links li {
    margin-bottom: 0;
  }

  .footer-social {
    justify-content: flex-end;
    gap: 1.5rem;
    margin: 0 0 1rem;
  }

  .footer-copyright {
    text-align: right;
  }
}
